<!DOCTYPE html>

<html>
    <head>
        <%- include("./partials/head") %>
    </head>

    <body>
        <%- include("./partials/title_block") %>

        <div class="about_section">
            <p>
                <b>BlitzSession</b> - приложение, которое позволяет отслеживать ваши статистические показатели в игре Tanks Blitz на протяжении сессии. Сервис автоматически перерасчитывает и отображает ваш средний урон, процент побед, общее количество боев и другие показатели вашей игры за сегодня.
            </p>

            <p>
                Приложение распространяется бесплатно в виде EXE-файла, запустив которое, вам необходимо перейти на страницу <i><a href="http://localhost:<%= port%>">http://localhost:<%= port%>/</a></i> и с помощью поиска найти тот аккаунт, эффективность которого вы собираетесь отследить. При открытии сессионной статистики игрока ее отслеживание и обновление начнется автоматически. Приложение не содержит рекламы.
            </p>

            <p>
                В будущем появится возможность настройки отображаемых параметров сессионной статистики, а также специальная возможность отображать сессионную статистику на стриме через программу OBS.
            </p>
        </div>
        

    </body>

    <script>
        document.getElementById("title-text").innerHTML += " - о приложении"
    </script>

    <%- include("./partials/bottom") %> 
</html>